@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lora", serif;
}

#navbar{
  position: sticky;
  top: 0;
  left: 0;
  z-index: 100;
  padding: .5rem .5rem;
  box-shadow: 5px 5px 20px rgb(19, 19, 21);
  background-color: rgb(33, 32, 32);
}


#search{
  position: relative !important;
  left: 10% !important;
}

#navbarSupportedContent a{
  color: #DCAE96;
  font-size: 19px;
}

#navbarSupportedContent a:hover{
  border-bottom: 2px solid #DCAE96;
  
}

.dropdown-menu a{
  color: rgb(33, 32, 32) !important;
  background: #ffffff !important; 
}

#drop a{
  color: black;
}

#drop a:hover{
  border-bottom: 2px solid black;
}

section{
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#home{
  background: url(Images/RegistrationImage.png);
  background-size: cover;
  background-position: center;
  position: relative;
  justify-content: center;
  align-items: center;
  
  
}
#home h1{
  font-size: 60px;
  color: #DCAE96;
  letter-spacing: 3px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#home p{
  color: #DCAE96;
  font-size: 17px;
  font-weight: 550;
  letter-spacing: 3px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.active{
  background: rgb(255, 0, 0) !important;
  transition: all 300ms ease-in-out;
  display:unset;
}





#product{
  background: #DCAE96;
}

#product h1{
  font-size: 50px;
  letter-spacing: 3px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.card{
  width: 300px;
  height: 300px;
  background: #DCAE96 !important;
  box-shadow: 5px 5px 20px rgb(19, 19, 21);
  border-radius: 20px !important;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  margin: 20px 60px;
}

.btn-outline-dark{
  background-color:rgba(238, 43, 43, 0)!important;
  border-width: 2px !important;
  border-color: rgb(75, 3, 3) !important;
  color: rgb(0, 0, 0) !important;
}
.btn-outline-dark:hover{
  box-shadow: 0px 0px 12px 4px rgba(0,0,0,0.74) !important;
  background-color: #f2cbb6 !important;
  transform: translate3d(0, 2px, 0) !important;
} 
.btn-outline-dark:focus{
  box-shadow: rgba(0, 0, 0, .3) 2px 8px 4px -6px !important;
}

#signin{
  background: #DCAE96;
  justify-content: center;
  align-items: center;
}

#signin h1{
  font-size: 30px;
  letter-spacing: 2px;
  font-weight: 300;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#about{
  background: #c5a492;
  position: relative;
  justify-content: center;
  align-items: center;

}


#contact{
    color: rgb(0, 0, 0);
    background: #DCAE96;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;    
}

#contact h1,p{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin-top: 10%;
}


#contact form{    
    width: 50%;
    height: 50%;
    background: transparent;
    flex-direction: column;
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.9);
    border-radius: 12px;
    margin-bottom: 10%;
    
}

#contact label{
    font-size: 15px;
    margin-left: 5%;
    margin-top: 8%;
    opacity: .8;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, .5);
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

#input{
  margin: 5%;
  height: 50%;
  background: rgb(255, 255, 255);
  color: black;
  opacity: .8;
  cursor: pointer;
  position: relative;
  left: 1%;
}

#contact button{
    width: fit-content;
    font-size: 15px;
    opacity: .9;
    color: aliceblue;
    background: #DCAE96;
    margin-left: 10%;
    padding: 10px 30px;
    border: none;
    outline: none;
    box-shadow: 0px 0px 12px 4px rgba(0,0,0,0.74);
    border-radius: 30px;
    cursor: pointer;
    position: relative;
    bottom: 18%;
}



#footer{
  color: #DCAE96;
  bottom: 0;
  left: 0;
  z-index: 100;
  padding: .4rem .4rem;
  box-shadow: 5px 5px 20px rgb(19, 19, 21);
  background-color: rgb(33, 32, 32);
  
}

div.scroll-container {
  background-color: #333;
  width: 100%;
  display: flex;
  overflow: auto;
  white-space: nowrap;
}

div.scroll-container img {
  padding: 5px;
}